body {
  padding: 40px;
}

table {
  margin-top: 40px;
  width: 100%;
}

td {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

td:first-child {
  width: 300px;
}

th {
  background-color: chocolate;
}

.currencies {
  position: relative;
}

.currencies__modal {
  position: absolute;
  z-index: 2;
  top: 18px;
  right: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  background-color: chocolate;
  text-align: center;
}

.currencies:hover .currencies__modal {
  opacity: 1;
}
